<html>
	<head> </head>
	<body>
		<div>
			Sign In
			<form name="SignIn" action="/auth/signIn" method="post">
				<input name="username" id="username">
				<input name="password" id="password" type="password">
				<input type="submit" value="Sign In">
			</form>
			Sign Up
			<form name="SignUp" action="/auth/signUp" method="post">
				<input name="name" id="name">
				<input name="username" id="username">
				<input name="password" id="password" type="password">
				<input type="submit" value="Sign Up">
			</form>
		</div>
	</body>
</html>